body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

.login-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-card{
    background:white;
    width:350px;
    padding:40px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    text-align:center;
}

.logo{
    font-size:40px;
    background:#ffe8df;
    width:70px;
    height:70px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    margin:0 auto 20px;
}

.subtitle{
    color:#777;
    font-size:14px;
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
    text-align:left;
}

label{
    font-size:13px;
    margin-top:10px;
}

input{
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    margin-top:5px;
}

.signup-text{
    font-size:12px;
    margin:15px 0;
}

.signup-text a{
    color:#ff6a3d;
    text-decoration:none;
    font-weight:bold;
    align-items: center;
}

button{
    background:#e67c52;
    border:none;
    padding:12px;
    border-radius:10px;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#d96c43;
}

.error{
    color:red;
    font-size:13px;
}

.switch-link{
    text-align:center;
    margin-top:15px;
    font-size:13px;
}

.switch-link a{
    color:#ff6a3d;
    font-weight:bold;
    text-decoration:none;
}